@import "../../common.module";

.root {
  margin-top: 16px;
  width: 1000px;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;

  .selectMajor {
    margin-bottom: 8px;
  }

  .buttonContainer {
    position: fixed;
    bottom: 32px;
    right: 32px;

    svg {
      font-size: 24px;
    }
  }
}